# use perl                                  -*- mode: Perl; -*-

# This is the configuration file for Daily Update. Feel free to modify any of
# the values here.  See
# http://www.cs.virginia.edu/~dwc3q/code/DailyUpdate/index.html
# for more information.

$ENV{TZ} = '' if ($^O eq 'MSWin32') || ($^O eq 'dos');

%config = (

# $inputFiles is a list of quoted, comma-separated input files.
# $outputFiles is a list of quoted, comma-separated output files.
# Each input file is transformed by Daily Update into the corresponding output
# file. (i.e. There should be one input file for each output file.)
'inputFiles' => ['template.txt'],
'outputFiles' => ['output.html'],

# You can specify one or more directories where Daily Update can find
# handlers.  Note that installed handlers automatically go into the first
# directory.  Specify the directories separated using commas, and quote them.
'handlerlocations' => ["$home/.DailyUpdate"],

# This value is set for single user installation, so that Daily Update will be
# able to find it's supporting modules.
'modulepath' => '',

# Daily Update uses a cache to store acquired HTML, which the handlers use
# during times between update times. maxcachesize is in bytes, and should be
# at least 100000.
# !!! Daily Update will not work without this cache, since handlers only
# update the acquired data at certain times. !!! (Older versions stored this
# info in the output html file.)
'cachelocation' => "$home/.DailyUpdate/cache",
'maxcachesize' => 1000000,

# The next three values are used by the cacheimages filter. They are here to
# allow system administrators to set a global image cache for all users.
'imgcachedir' => "$home/public_html/DailyUpdate/imagecache",
'imgcacheurl' => "http://www.cs.virginia.edu/~dwc3q/DailyUpdate/imagecache",
# 1 week in seconds
'maximgcacheage' => 604800,

# $socketTimeout is the length of time to allow any particular web service to
# respond.
'socketTimeout' => 40,

# $scripttimeout is the length of time to allow Daily Update to run.
'scriptTimeout' => 240,

# Set $proxy if you use a proxy. For example, "http://proxy.host.com:8080/"
'proxy' => "",

# If you need to supply a username/password to your proxy server, you can
# specify it here.
#
# If you supply a password of '', you will be prompted for a password *if*
# Daily Update is run interactively. If not, the password will default to "",
# which, is almost certainly not what you want.  So, this feature is not very
# useful if you're using this program from "cron".
#
# If you supply a real password here, this password will be used.  If you use
# this option, please make sure that you take appropiate measures to make sure
# that this file can't be read by others.
'proxy_username' => '',
'proxy_password' => '',

);

1;
